<p>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Encuentra plan!</button>
      <div *ngIf="session.id_user;">
        <button mat-menu-item routerLink="/your-parties">Tus fiestas</button>
        <button mat-menu-item routerLink="/requests">Tus solicitudes</button>
      </div>
    </mat-menu>
    <span>PartyDrom</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/">
      <mat-icon>favorite</mat-icon>
    </button>
    <div class="spacing"></div>
    <button mat-button [matMenuTriggerFor]="loginMenu">
      <mat-icon>person_pin</mat-icon>
    </button>
      <div *ngIf="session.user_name;">
        Hola {{session.user_name}}!
      </div>
    <mat-menu #loginMenu="matMenu">
      <div *ngIf="session.id_user; else notUser">
        <button mat-menu-item routerLink="/profile">Tu perfil</button>
        <button mat-menu-item (click)="logout()" routerLink="/">LogOut</button>
      </div>
      <ng-template #notUser>
        <button mat-menu-item routerLink="/login">LogIn</button>
        <button mat-menu-item routerLink="/signup">registrate</button>
      </ng-template>
    </mat-menu>
<div *ngIf="session.is_admin&&session.is_admin==1">
  <button mat-button [matMenuTriggerFor]="adminMenu">
    Admin
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/admin-users">Admin. usuarios</button>
      <button mat-menu-item routerLink="/admin-parties">Admin. fiestas</button>
  </mat-menu>
</div>
  </mat-toolbar>
</p>
<div class="container">
  <router-outlet></router-outlet>
</div>
