<p>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/find-a-plan">Encuentra plan!</button>
      <button mat-menu-item routerLink="/">Tus fiestas</button>
      <button mat-menu-item routerLink="/requests">Tus solicitudes</button>
      <button mat-menu-item routerLink="/profile">Tu perfil</button>
      <button mat-menu-item routerLink="/login">LogIn</button>
      <button mat-menu-item routerLink="/signup">registrate</button>
    </mat-menu>
    <span>PartyDrom</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="container">
  <router-outlet></router-outlet>
</div>
