<div class="row">
  <div class="space-between">
    <h1 class="myTitle light-primary">Your Parties
      <mat-icon>favorite</mat-icon>
    </h1>
    <button color="primary" mat-raised-button routerLink="/add">New party</button>
  </div>
</div>

<div class="row" *ngIf="parties.length&&session.id_user; else noParties">
  <div class="col-md-4 tinyMarginBottom" style="margin-bottom:10px!important" *ngFor="let party of parties">
    <mat-card>
      <mat-card-title class="mat-h1 light-primary">
        <div>
          {{party.title}}
        </div>
      </mat-card-title>
      <img alt="" mat-card-image src="../../../assets/img/party.png"/>
      <mat-card-content class="tinymargin">
        <div class="row" style="margin-bottom: 1em">
          {{party.description}}
        </div>
        <mat-divider></mat-divider>
        <div class="flex-center">
          <div *ngIf="party.pending_request==1" class="v-margin">
            <button type="button" mat-fab color="warn">Tienes solicitudes pendientes!</button>
          </div>
          <div *ngIf="party.id_request" class="v-margin">
            <button type="button" mat-fab color="primary">Tienes solicitudes!</button>
          </div>
          <div class="spacing"></div>
          <div class="spacing"></div>
        </div>
        <div class="row purple medium-y-margin flex-center">
          <h1 class="mat-h1"><span class="big-font marginTop">{{party.vacancies}}</span> vacantes!</h1>
        </div>
        <div class="row flex-center">
          <h1>
            <mat-icon>location_on</mat-icon>
            {{party.location_name}}</h1>
          <div class="spacing"></div>
          <div class="spacing"></div>
          <div>
            <div class="row">
              Fecha: {{party.date}}
            </div>
            <div class="row">
              hora: {{party.time}}
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:1em">
          <div *ngIf="party.alcohol==true; else elseBlock2" class="green">
            <mat-icon>check_circle</mat-icon>
            Alcohol
          </div>
          <ng-template #elseBlock2>
            <div class="red">
              <mat-icon>cancel</mat-icon>
              Alcohol
            </div>
          </ng-template>
        </div>
        <div class="row">
          <div *ngIf="party.smoke==true; else elseBlock" class="green">
            <mat-icon>check_circle</mat-icon>
            Tabaco
          </div>
          <ng-template #elseBlock>
            <div class="red">
              <mat-icon>cancel</mat-icon>
              Tabaco
            </div>
          </ng-template>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button color="primary" mat-mini-fab routerLink="/edit/{{party.id}}" type="button">Edit</button>
          <button (click)="delete(party.id)" color="warn" mat-button routerLink="/" type="button">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #noParties>
  <div *ngIf="!session.id_user; else isLogin">
    <h3 class="primary">Logueate para ver las fiestas</h3>
  </div>
  <ng-template #isLogin>
    <mat-spinner></mat-spinner>
    <h1 class="primary">Ups, parece que no has publicado ninguna fiesta :(</h1>
  </ng-template>
</ng-template>

