<div class="row">
  <div class="space-between">
    <h1 class="myTitle light-primary">Usuarios
      <mat-icon>favorite</mat-icon>
    </h1>
    <button mat-raised-button color="primary" routerLink="/add-user">New User</button>
  </div>
</div>

<div class="row" *ngIf="users.length&&session.is_admin&&session.is_admin==1; else noParties">
  <div class="col-md-4 tinyMarginBottom" style="margin-bottom:10px!important" *ngFor="let user of users">
    <mat-card>
      <mat-card-title class="mat-h1 light-primary">
        <div>
          {{user.name}}
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <div class="v-spacing"></div>
      <mat-card-content class="tinymargin">
        <div class="row" style="margin-bottom: 1em">
          {{user.email}}
        </div>
        <div class="row" style="margin-bottom: 1em">
          {{user.password}}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button type="button" mat-mini-fab color="primary" routerLink="/edit-user/{{user.id}}">Edit</button>
          <button type="button" mat-button color="warn" (click)="delete(user.id)" routerLink="/">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #noParties>
  <div *ngIf="!session.is_admin; else isLogin">
    <h3 class="primary">Logueate como admin</h3>
  </div>
  <ng-template #isLogin>
    <mat-spinner></mat-spinner>
    <h1 class="primary">Ups, parece que no hay usuarios :(</h1>
  </ng-template>
</ng-template>


