<div class="row">
  <div class="space-between">
    <h1 class="myTitle light-primary">Your Parties
      <mat-icon>favorite</mat-icon>
    </h1>
    <button mat-raised-button color="primary" routerLink="/add">New party</button>
  </div>
</div>


<div *ngIf="articles.length">
  <div class="row">
    <div class="col-md-4 tinymarginBottom" *ngFor="let article of articles">
      <mat-card>
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-content>{{article.body}}</mat-card-content>
        <img mat-card-image alt="" src="/assets/img/party.png"/>
        <mat-card-actions>
          <button type="button" mat-mini-fab color="primary" routerLink="/edit/{{article.id}}">Edit</button>
          <button type="button" mat-button color="warn">Delete</button>
        </mat-card-actions>
        <mat-card-footer>{{article.author}}</mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>



