/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tinymargin {
  margin: 1em;
}

.v-margin{
  margin-top: 1em;
  margin-bottom: 1em;
}

.tinymarginBottom {
  margin-bottom: 1em;
}

.primary-bg {
  background: #c2185b;
  color: white;
}

.dark-bg {
  background: #2b2b2b;
  color: white;
}

.primary {
  color: #c2185b;
}

.light-primary-bg {
  background: #f48fb1;
}

.light-primary {
  color: #f48fb1
}

.dark {
  color: #2b2b2b;
}

.accent {
  color: #424242;
}

.accent-bg {
  color: #424242;
}

.myTitle {
  font-size: 3em !important;
  margin: 1em !important;
}

.space-between{
  display: flex;
  align-content: space-between;
  align-items: center;
}

.purple{
  color: #c4a4ff;
}
.green{
  color: #47a25c;
}

.red{
  color: indianred;
}

.huge-font{
  font-size:3em!important;
}

.big-font{
  font-size:1.5em!important;
}
.marginTop{
  margin-top: 1em;
}

.medium-y-margin{
  margin-top: 2em;
  margin-bottom: 2em;
}
.flex-center{
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
}

.spacing{
  width: 20px;
}
.v-spacing{
  height: 20px;
}
