<div class="row">
  <div class="space-between">
    <h1 class="myTitle light-primary">Solicitudes a tu fiesta !
      <mat-icon>favorite</mat-icon>
    </h1>
  </div>
</div>

<div class="row" *ngIf="requests.length&&session.id_user; else noParties">
  <div class="col-md-4 tinyMarginBottom" style="margin-bottom:10px!important" *ngFor="let request of requests">
    <mat-card>
      <mat-card-title class="mat-h1 light-primary">
        <div>
          {{request.title}}
        </div>
      </mat-card-title>
      <mat-card-content class="tinymargin">
        solicitante:
        <button type="button" mat-button color="primary"
                routerLink="/profile/{{request.id_profile}}">{{request.public_name}}</button>
      </mat-card-content>
      <mat-card-actions>
        <div *ngIf="request.pending == 1 else noPending">
          <button type="button" mat-fab color="accent">pendiente</button>
        </div>
        <ng-template #noPending>
          <div *ngIf="request.accepted == 1 else noAccepted">
            <button type="button" mat-fab color="primary">Aceptada!</button>
          </div>
          <ng-template #noAccepted>
            <div *ngIf="request.canceled == 1 ">
              <button type="button" mat-fab color="warn">Rechazada!</button>
            </div>
          </ng-template>
        </ng-template>
      </mat-card-actions>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <div *ngIf="request.pending == 1 else noPending2">
          <button type="button" mat-raised-button color="primary" (click)="acceptRequest(request.id)">Aceptarla</button>
          <button type="button" mat-stroked-button color="warn" (click)="cancelRequest(request.id)">Rechazarla</button>
        </div>
        <ng-template #noPending2>
          <div *ngIf="request.accepted == 1 else noAccepted2">
            <button type="button" mat-raised-button color="warn" (click)="cancelRequest(request.id)">Rechazarla</button>
          </div>
          <ng-template #noAccepted2>
            <div *ngIf="request.canceled == 1 ">
              <button type="button" mat-raised-button color="primary" (click)="acceptRequest(request.id)">Aceptarla</button>
            </div>
          </ng-template>
        </ng-template>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<ng-template #noParties>
  <div *ngIf="!session.id_user; else isLogin">
    <div class="v-spacing"></div>
    <h1 class="primary">Login para ver las solicitudes</h1>
    <button mat-stroked-button routerLink="/login">Login!</button>
    <div class="v-spacing"></div>
    <mat-divider></mat-divider>
    <div class="v-spacing"></div>
    <h1 class="primary">no estás registrado?</h1>
    <button mat-stroked-button routerLink="/signup">Registrate!</button>
  </div>
  <ng-template #isLogin>
    <h1 class="primary">Ups, parece que no hay plan :(</h1>
  </ng-template>
</ng-template>


