<div class="row">
  <div class="space-between">
    <h1 class="myTitle light-primary">Administrar fiestas
      <mat-icon>favorite</mat-icon>
    </h1>
  </div>
</div>


<div class="row" *ngIf="parties.length&&session.id_user; else noParties">
  <div class="col-md-4 tinyMarginBottom" *ngFor="let party of parties" style="margin-bottom:10px!important">
    <mat-card>
      <mat-card-title class="mat-h1 light-primary">
        <div>
          {{party.title}}
        </div>
      </mat-card-title>
      <img mat-card-image alt="" src="../../../assets/img/party.png"/>
      <mat-card-content class="tinymargin">
        <div class="row" style="margin-bottom: 1em">
          {{party.description}}
        </div>
        <mat-divider></mat-divider>
        <div class="row purple medium-y-margin flex-center">
          <h1 class="mat-h1"><span class="big-font marginTop">{{party.vacancies}}</span> vacantes!</h1>
        </div>
        <div class="row purple">
          Localidad: {{party.id_location}}
        </div>
        <div class="row purple">
          Fecha: {{party.date}}
        </div>
        <div class="row purple">
          hora: {{party.time}}
        </div>
        <div class="row" style="margin-top:1em">
          <div *ngIf="party.alcohol==true; else elseBlock2" class="green">
            <mat-icon>check_circle</mat-icon>
            Alcohol
          </div>
          <ng-template #elseBlock2>
            <div class="red">
              <mat-icon>cancel</mat-icon>
              Alcohol
            </div>
          </ng-template>
        </div>
        <div class="row">
          <div *ngIf="party.smoke==true; else elseBlock" class="green">
            <mat-icon>check_circle</mat-icon>
            Tabaco
          </div>
          <ng-template #elseBlock>
            <div class="red">
              <mat-icon>cancel</mat-icon>
              Tabaco
            </div>
          </ng-template>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button type="button" mat-mini-fab color="primary" routerLink="/edit/{{party.id}}">Edit</button>
          <button type="button" mat-button color="warn" (click)="delete(party.id)" routerLink="/">Delete</button>
        </div>
      </mat-card-actions>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <div *ngIf="session.id_user">
          id user session: {{session.id_user}}
        </div>
        <div class="tinymargin">{{party.id_user}}</div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<ng-template #noParties>
  <div *ngIf="!session.id_user; else isLogin">
    <h3 class="primary">Logueate como admin para editar las fiestas</h3>
  </div>
  <ng-template #isLogin>
    <mat-spinner></mat-spinner>
    <h1 class="primary">Ups, parece que no hay fiestas :(</h1>
  </ng-template>
</ng-template>


