<hr class="my-4">
<div class="form-group">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <mat-hint>Help text</mat-hint>
    <input matInput type="text" name="title" #title id="title" class="form-control" placeholder=""
           aria-describedby="helpTitle">
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label>vacantes</mat-label>
    <mat-hint>Help text</mat-hint>
    <input matInput type="number" name="title" #title id="vacancies" class="form-control" placeholder=""
           aria-describedby="helpTitle">
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <mat-hint>Help text</mat-hint>
    <textarea matInput class="form-control" #body name="description" id="description" rows="3" aria-describedby="helpBody"></textarea>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label>Author</mat-label>
    <mat-hint>Help text</mat-hint>
    <input matInput type="text" #author name="author" id="author" class="form-control" placeholder=""
           aria-describedby="helpAuthor">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" type="button" class="btn btn-success d-flex my-2 ml-auto"
        (click)="add(title.value, body.value, author.value); title.value=''; body.value=''; author.value='';"
        routerLink="/">Add
</button>
