<div class="row">
    <h1 class="myTitle light-primary col-md-4 col-12">Encuentra plan!
      <mat-icon>favorite</mat-icon>
    </h1>
  <div class="space-between row">
    <div class="col-md-3 col-6" *ngIf="session.id_user">
      <mat-form-field appearance="fill" *ngIf="locations&&locations.length">
        <mat-label>ciudad</mat-label>
        <mat-select [(value)]="filter_loc" (selectionChange)="filterParties()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let loc of locations" [value]="loc.id">{{loc.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="spacing"></div>
    <div class="col-md-3 col-6" *ngIf="session.id_user">
      <mat-form-field>
        <mat-label>fecha</mat-label>
        <input matInput type="date" #filterdate id="filterdate" [(ngModel)]="mydate" (change)="filterParties()">
      </mat-form-field>
    </div>
    <div class="spacing"></div>
    <div class="col-2" *ngIf="session.id_user">
      <button type="button" mat-raised-button color="accent" (click)="refresh()">clear</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="parties.length&&session.id_user; else noParties">
  <div class="col-md-6 col-12 col-lg-4 tinyMarginBottom" style="margin-bottom:10px!important" *ngFor="let party of parties">
    <mat-card>
      <mat-card-title class="mat-h1 light-primary">
        <div>
          {{party.title}}
        </div>
      </mat-card-title>
      <img mat-card-image alt="" src="../../../assets/img/party.png"/>
      <mat-card-content class="tinymargin">
        <div class="row" style="margin-bottom: 1em">
          {{party.description}}
        </div>
        <mat-divider></mat-divider>
        <div class="flex-center">
          <div *ngIf="party.id_request else noRequest" class="v-margin">
            <div *ngIf="party.request_accepted else noAccepted" class="v-margin">
              <button type="button" mat-fab class="green-bg" routerLink="/user-requests/{{party.id}}">Aceptada!</button>
            </div>
            <ng-template #noAccepted>
              <div *ngIf="party.request_canceled else pending" class="v-margin">
                <button type="button" mat-fab color="accent" routerLink="/user-requests/{{party.id}}">Cancelada</button>
              </div>
              <ng-template #pending>
                <div class="v-margin">
                  <button type="button" mat-fab color="accent" routerLink="/user-requests/{{party.id}}">pendiente</button>
                </div>
              </ng-template>
            </ng-template>
          </div>
          <ng-template #noRequest>
            <div class="v-margin">
              <button type="button" mat-fab color="primary" (click)="request(party.id)">apúntame!</button>
            </div>
          </ng-template>
          <div class="spacing"></div>
          <div class="spacing"></div>
          Anfitrión:
          <button mat-button class="light-primary " routerLink="/profile/{{party.id_user}}">
            <mat-icon>person</mat-icon>
            {{party.public_name}}</button>
        </div>
        <div class="row purple medium-y-margin flex-center">
          <h1 class="mat-h1"><span class="big-font marginTop">{{party.vacancies}}</span> vacantes!</h1>
        </div>
        <div class="row flex-center">
          <h1>
            <mat-icon>location_on</mat-icon>
            {{party.location_name}}</h1>
          <div class="spacing"></div>
          <div class="spacing"></div>
          <div>
            <div class="row">
              Fecha: {{party.date}}
            </div>
            <div class="row">
              hora: {{party.time}}
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:1em">
          <div *ngIf="party.alcohol==true; else elseBlock2" class="green">
            <mat-icon>check_circle</mat-icon>
            Alcohol
          </div>
          <ng-template #elseBlock2>
            <div class="red">
              <mat-icon>cancel</mat-icon>
              Alcohol
            </div>
          </ng-template>
        </div>
        <div class="row">
          <div *ngIf="party.smoke==true; else elseBlock" class="green">
            <mat-icon>check_circle</mat-icon>
            Tabaco
          </div>
          <ng-template #elseBlock>
            <div class="red">
              <mat-icon>cancel</mat-icon>
              Tabaco
            </div>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noParties>
  <div *ngIf="!session.id_user; else isLogin">
    <div class="v-spacing"></div>
    <h1 class="primary">Login para ver las fiestas</h1>
    <button mat-stroked-button routerLink="/login">Login!</button>
    <div class="v-spacing"></div>
    <mat-divider></mat-divider>
    <div class="v-spacing"></div>
    <h1 class="primary">no estás registrado?</h1>
    <button mat-stroked-button routerLink="/signup">Registrate!</button>
  </div>
  <ng-template #isLogin>
<!--    <div *ngIf="notFound">-->
<!--      <h1 class="primary">Ups, parece que no hay plan :(</h1>-->
<!--    </div>-->
  </ng-template>
</ng-template>
