<div class="row">
  <div class="space-between">
    <h1 class="myTitle light-primary">Your Parties
      <mat-icon>favorite</mat-icon>
    </h1>
    <button mat-raised-button color="primary" routerLink="/add">New party</button>
  </div>
</div>


<div *ngIf="parties.length">
  <div class="row">
    <div class="col-md-4 tinyMarginBottom" *ngFor="let party of parties">
      <mat-card>
        <mat-card-title>{{party.title}}</mat-card-title>
        <mat-card-content>{{party.description}}</mat-card-content>
        <img mat-card-image alt="" src="/assets/img/party.png"/>
        <mat-card-actions>
          <button type="button" mat-mini-fab color="primary" routerLink="/edit/{{party.id}}">Edit</button>
          <button type="button" mat-button color="warn" (click)="delete(party.id)">Delete</button>
        </mat-card-actions>
        <mat-card-footer>{{party.id_location}}</mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
