<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <mat-form-field>
        <input matInput #email type="text" placeholder="nickname or email">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <mat-form-field>
        <input matInput #password type="text" placeholder="password">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="login(email.value,password.value)">Login</button>
</div>
